body {
    padding: 26px 52px 16px 52px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    background: #F9F9F9;
}


th{
    background : #FFFFFF;
    color: #787878;
    border-bottom: 1px solid;
}

tr{
    background : #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    height : 68px;
}

thead{
    background : #FFFFFF;
    border-bottom: 1px solid var(--Neutral-Gray-Line, #E8E8E8);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  max-width: 100% !important;
}

.head-page {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-Gap-SS, 16px);
    align-self: stretch;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.statistics{
    display: flex;
    align-items: center;
    gap: var(--Spacing-Gap-SS, 16px);
    align-self: stretch;
}

.card-statistic{
    display: flex;
    padding: var(--Padding-Padding-SS, 12px);
    flex-direction: row;
    gap: var(--Spacing-Gap-SS, 16px);
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 20px;
    background: #FFF;
}

.content-text-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.icon-card-statistic1{
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: var(--Brand-Green-Soft, rgba(35, 131, 2, 0.10));
}

.icon-card-statistic2{
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: var(--Brand-Orange-Soft, rgba(254, 133, 7, 0.10));
}

.view-data{
    display: flex;
    padding: 24px 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 32px;
    background: var(--Neutral-White, #FEFEFE);
}