.btn {
    border-radius: 100px !important;
    gap: 10px !important;
}

.btn-primary {
    background-color: #238302 !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #289702 !important;
}

.btn-primary:disabled {
    background-color: #238302A5 !important;
}

.btn-secondary {
    background-color: #FEFEFE !important;
    border-color: #E8E8E8 !important;
    color: #101010 !important;
}

.btn-secondary:hover {
    background-color: #F9F9F9 !important;
}

.btn-danger {
    background-color: #FF383C !important;
    border-color: none !important;
}

.btn-danger:hover {
    background-color: #FF383CA1 !important;
}

.btn-danger-outline {
    display: flex;
    padding: var(--Padding-Padding-Vertical-Button, 12px) var(--Padding-Padding-MX, 20px);
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    background-color: #FEFEFE !important;
    border-color: #E8E8E8 !important;
    color: #FF0000 !important;
}

.btn-danger-outline:hover {
    background-color: #FF0000 !important;
    color: #FEFEFE !important;
    cursor: pointer;
}

.btn-logout {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #E8E8E8;
    background: #FEFEFE;
    box-shadow: 2px 3px 14px 0 rgba(0, 0, 0, 0.05);
    padding: 0;
}

.btn-logout:hover {
    border-color: #dc3545 !important;
    background-color: #fff5f5 !important;
    cursor: pointer;
}

.btn-action {
    font-size: 13px;
    transition: all 0.2s;
    border-radius: 100px;
}

.btn-light {
    display: flex;
    padding: var(--Padding-Padding-Vertical-Button, 12px) var(--Padding-Padding-MX, 20px);
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    background: #FEFEFE;
    border: 1px solid var(--Neutral-Gray-Line, #E8E8E8);
}

.btn-light:hover {
    background: #E5E7EB;
    color: #111827;
}