.font-h1 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 33.6px */
    letter-spacing: -0.6px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.font-h7 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 33.6px */
    letter-spacing: -0.6px;
    text-transform: capitalize;
    color: var(--Neutral-Black, #101010);
}

.font-T1-SemiBold {
    /* T1/Semi Bold */
    font-family: Inter;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 30.8px */
    letter-spacing: -0.55px;
    margin: 0;
    padding: 0;
}

.font-T3-Regular {
    /* T3/Regular */
    font-family: Inter;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 25.2px */
    letter-spacing: -0.45px;
    color: var(--Neutral-Dark-Gray, #787878);
    margin: 0;
    padding: 0;
}

.font-T4-Regular {
    /* T3/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.4px;
    color: var(--Neutral-Dark-Gray, #787878);
    margin: 0;
    padding: 0;
}

.font-T4-SemiBold {
    /* T4/Semi Bold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.4px;
}

.font-T5-Medium {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
    letter-spacing: -0.35px;
    margin: 0;
    padding: 0;
}

.font-T5-Regular {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
    letter-spacing: -0.35px;
    margin: 0;
    padding: 0;
}