th{
    background : #FFFFFF;
    color: #787878;
    border-bottom: 1px solid;
}

tr{
    background : #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    height : 68px;
}

thead{
    background : #FFFFFF;
    border-bottom: 1px solid var(--Neutral-Gray-Line, #E8E8E8);
}